@use "sass:map";
@use "sass:meta";

$fa-font-path : "/assets/fontawesome/webfonts";
@import "../assets/fontawesome/scss/fontawesome.scss";
@import "../assets/fontawesome/scss/solid.scss";
@import "../assets/fontawesome/scss/brands.scss";

@font-face {
  font-family: RobotoMono;
  src: url("/assets/webfonts/roboto-mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: RobotoMono;
  src: url("/assets/webfonts/roboto-mono/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}

$bodyFont: RobotoMono, mono;

$light-theme : (
  color0: #ffffff,
  color1: #303446,
  color2: #4c4f69,
  color3: #7287fd,
  color4: #1e66f5,
  color5: #dd7878,
  color6: #ea999c,
  color7: #3e4759,
  color8: #6c7086,
  color9: #a6adc8,
  color10: #cdd6e4,
  color11: #ecf0f9,
);

$dark-theme: (
  color0: #2a2a2a,
  color1: #f9f3f3,
  color2: #dad1d0,
  color3: #80a9c0,
  color4: #6a91a2,
  color5: #df7d7a,
  color6: #ff9588,
  color7: #e2dadd,
  color8: #c3b7b7,
  color9: #8a7677,
  color10: #5d4f53,
  color11: #373133,
);

@mixin theme($args...) { 
  @each $key, $value in meta.keywords($args) {  
    #{$key}: map.get($light-theme, $value);
  }

  @each $key, $value in meta.keywords($args) {  
    @media (prefers-color-scheme: dark) {
      #{$key}: map.get($dark-theme, $value)
    }
  }
}

body {
  font-family: $bodyFont;
  @include theme($background: "color0", $color: "color2");
}

