ul.project_list {
  list-style: none;
  padding: 0;
  li {
    padding: 1em;
    margin: 1em 0;
    border: 0.15em solid $color6;
    border-radius: 0.5em; 
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1em;
    
    #title, #status { display: inline-block; }
    
    #subtitle, #info {display: block; width: 100%; }

    h2, h3, h6, p {
      margin: 0; 
    }
  }

  li + li {
    margin-block-start: 2em;
  }
}
